/* BASIC STYLES HERE */
body {
    background-position: center;
    background-size: cover;
}

p {
    margin-bottom: 0;
}

.weather-card {
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: .5em;
}


#quote-content {
    color: white;
}

#quote-author {

    opacity: 0;
    transition: ease-in-out .5s;
    color: white;
}

#quote-content:hover+#quote-author {

    opacity: 1;
}