/* BASIC STYLES HERE */
body {
    background-position: center;
    background-size: cover;
}

p {
    margin-bottom: 0;
}

input {
    background: none;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.813);
    color: rgb(213, 213, 213);
}

.glass-card {
    max-width: max-content;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: .5em;
    color: white;
}

.complete-todo {
    text-decoration: line-through;
    color: rgb(0, 181, 30);
}

.offcanvas-end {
    margin-top: 6em;
    margin-right: 1em;
}

.clock {
    font-size: 50pt;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 4px black;
}

.text-shadow {
    text-shadow: 0 0 4px black;
}

.height-100 {
    height: 100vh;
}

.justify-self-end {
    justify-self: end;
}

#quote-content {
    color: white;
}

#quote-author {

    opacity: 0;
    transition: ease-in-out .5s;
    color: white;
}

#quote-content:hover+#quote-author {

    opacity: 1;
}